<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Course</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Add Score</h1>
	
    
		<form th:object="${game}" th:action="@{save}" action="#" method="post">
		  	 
    		
		  	<label for="score">Score</label>
			<input type="text" id="score" th:field="*{score}" />
			<div style="clear: both; display: block; height: 10px;"></div>
		 	<label for="clist">Course</label>
			 <select id="clist" th:field="*{course}" class="form-control">
       			<option th:each="course: ${course}" th:value="${course.course_id}" th:text="${course.name}"></option>
    		</select>
   
			<input type="submit" value="Save"></input>
			
		</form>
	
</body>
</html>