<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Course</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="../css/bootstrap.min.css" th:href="@{../css/bootstrap.min.css}" />
</head>
<body>
<form th:action="@{/logout}" method="post">
	<h1>
			<input type="submit" value="Log Out" class="btn btn-sm btn-danger" style="float:right;margin-bottom:5px;margin-top:5px;margin-right:50px;"/>
			<label th:inline="text" style="float:right;margin-right:5px;margin-top:10px;font-size:20px;">Logged in as [[${#httpServletRequest.remoteUser}]]</label>
			</h1>
			</form>
<div class="container">
<a th:href="@{/}" class="btn btn-primary">Back</a>
	

		<form th:object="${game}" th:action="@{addgame/save}" action="#" method="post" style="width:300px">
			    <table class="table table-striped" style="width:300px">
    <tr>
				<th></th>
				<th>Par</th>
				<th>Distance</th>
				<th>Score</th>
			</tr>
    		<tr  th:each = "holes, iterStat : ${holes}" >
    		<td th:text=${holes.name}></td>
    		<td th:text=${holes.par}></td>
    		<td th:text=${holes.distance}></td>
    		<td><input th:id="'score' +${iterStat.count}" type="text" class="form-control" th:field="*{score__${iterStat.index+1}__}" /></td>
    		
 
        	
     </table>
		
		  	 <div class="form-group">
		  		<label for="score">Score</label>
				<input type="text" class="form-control" id="score" th:field="*{score}" />
				</div>
				
				
					<div class="form-group" style="display: none;">
		 		
			 	<select id="clist" th:field="*{course}" class="form-control">
       				<option th:each="course: ${course}" id="clist" th:field="*{course}" class="form-control" th:value="${course.course_id}" th:text="${course.name}"></option>
    			</select>
   				</div>
   				
   			<button type="submit" class="btn btn-primary">Save</button>
			
			
		</form>
	</div>
</body>
</html>
