<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Course</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="../css/bootstrap.min.css" th:href="@{../css/bootstrap.min.css}" />
</head>
<body>
<form th:action="@{/logout}" method="post">
	<h1>
			<input type="submit" value="Log Out" class="btn btn-sm btn-danger" style="float:right;margin-bottom:5px;margin-top:5px;margin-right:50px;"/>
			<label th:inline="text" style="float:right;margin-right:5px;margin-top:10px;font-size:20px;">Logged in as [[${#httpServletRequest.remoteUser}]]</label>
			</h1>
			</form>
<div class="container">
<a th:href="@{/}" class="btn btn-primary">Back</a>
	


	</div>
</body>
</html>
