<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Course</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="../css/bootstrap.min.css" th:href="@{../css/bootstrap.min.css}" />
</head>
<body>
<form th:action="@{/logout}" method="post">
	<h1>
			<input type="submit" value="Log Out" class="btn btn-sm btn-danger" style="float:right;margin-bottom:5px;margin-top:5px;margin-right:50px;"/>
			<label th:inline="text" style="float:right;margin-right:5px;margin-top:10px;font-size:20px;">Logged in as [[${#httpServletRequest.remoteUser}]]</label>
			</h1>
			</form>
<div class="container">
	
	
		<form th:object="${holes}" th:action="@{save}" action="#" method="post" style="width:300px">
		  	 <div class="form-group">
		  		<label for="name">Hole name/number</label>
				<input type="text" class="form-control" id="name" th:field="*{name}" />
				</div>
		  	 <div class="form-group">
		  		<label for="par">Par</label>
				<input type="text" class="form-control" id="par" th:field="*{par}" />
				</div>
				
			<div class="form-group">
		  		<label for="distance">Distance</label>
				<input type="text" class="form-control" id="distance" th:field="*{distance}" />
				</div>
				
				
					<div class="form-group" >
		 		
			 	<select id="clist" th:field="*{course}" class="form-control">
       				<option th:each="course: ${course}" id="clist" th:field="*{course}" class="form-control" th:value="${course.course_id}" th:text="${course.name}"></option>
    			</select>
   				</div>
		 		
			 	
   				
				
		 		
			 	
   				
   				
   			<button type="submit" class="btn btn-primary">Save</button>
			
			
		</form>
	</div>
</body>
</html>