<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Courses</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	
	<form th:action="@{/logout}" method="post">
	<h1>Courses
			<input type="submit" value="Log Out" class="btn btn-sm btn-danger" style="float:right;margin-bottom:5px;margin-top:5px;margin-right:50px;"/>
			<label th:inline="text" style="float:right;margin-right:5px;margin-top:10px;font-size:20px;">Logged in as [[${#httpServletRequest.remoteUser}]]</label>
			</h1>
			</form>
			
    <table class="table table-striped">
		<tr>
		    <th>Name</th>
		    <th>City</th>
		    <th>Address</th>
		    <th>Number of holes</th>
		    <th>Rating</th>
		   	<th></th>
		   	<th></th>
		</tr>  
    	<tr th:each = "course : ${courses}">
    		<td th:text=${course.name}></td>
    		<td th:text= ${course.city}></td>
    		<td th:text= ${course.address}></td>
    		<td th:text= ${course.holesqty}></td>
    		<td th:text= ${course.rating}></td>
    		
    		
 				<td ><a th:href="@{/view/{id}(id=${course.course_id})}">View Course</a></td>
 				<td><a th:href="@{/addgame/{id}(id=${course.id})}">Add Game</a>
 						
    	</tr>
     </table>
     <a sec:authorize="hasAuthority('ADMIN')"href="/addcourse" class="btn btn-primary">Add Course</a>
     <a th:href="@{/recentgames}">View recent games</a>
    
	   	
</body>
</html>