<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BookList</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="../css/bootstrap.min.css" th:href="@{../css/bootstrap.min.css}" />
</head>
<body>
<form th:action="@{/logout}" method="post">
	<h1>
			<input type="submit" value="Log Out" class="btn btn-sm btn-danger" style="float:right;margin-bottom:5px;margin-top:5px;margin-right:50px;"/>
			<label th:inline="text" style="float:right;margin-right:5px;margin-top:10px;font-size:20px;">Logged in as [[${#httpServletRequest.remoteUser}]]</label>
			</h1>
			</form>
<div class="container">
	<h1>Edit Hole</h1>
	
<form th:object="${hole}" th:action="@{../hsave}" action="#" method="post" style="width:300px">
<a th:href="@{/view/{id}(id=${hole.course.course_id})}" class="btn btn-primary">Back</a>
	<input type="hidden" th:field="*{id}" class="form-control"/>
	
	<div class="form-group">
		<label for="title">Name</label>
		<input type="text" th:field="*{name}" class="form-control" />
		</div>
		
	<div class="form-group">	
		<label for="author">Par</label>
		<input type="text" th:field="*{par}" class="form-control" />
		</div>
		
	<div class="form-group">
		<label for="isbn">Distance</label>
		<input type="text" th:field="*{distance}" class="form-control"/>
		</div>
			<div class="form-group">
		<label for="course">Distance</label>
		<input type="hidden" th:field="*{course}" class="form-control"/>
		</div>

	<input type="submit" class="btn btn-primary" value="Save"></input>
</form>
	</div>
</body>
</html>