<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Courses</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	
	<form th:action="@{/logout}" method="post">
	<h1>Courses
			<input type="submit" value="Log Out" class="btn btn-sm btn-danger" style="float:right;margin-bottom:5px;margin-top:5px;margin-right:50px;"/>
			<label th:inline="text" style="float:right;margin-right:5px;margin-top:10px;font-size:20px;">Logged in as [[${#httpServletRequest.remoteUser}]]</label>
			</h1>
			</form>
			
    <table class="table table-striped">
		<tr>
		    <th>Name</th>
		    <th>City</th>
		    <th>Address</th>
		    <th>Number of holes</th>
		    <th>Rating</th>
		   	<th></th>
		   	<th></th>
		</tr>  
    	<tr th:each = "game : ${games}">
    		<td th:text=${game.score}></td>
    		
    			
    	</tr>
     </table>
    
    
	   	
</body>
</html>