<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Courses</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
	</head>
<body>
    <table class="table table-striped">
	
		<tr>
		    <th>Course</th>
		    <th>Total Score</th>
		    <th></th>
		    <th><a th:href="@{/}">Back</a></th>
		</tr>  
		   	<tr th:each = "games : ${games}">
    		<td th:text=${games.course.name}></td>
    		<td th:text=${games.score}></td>
    		
  		<tr th:each = "course : ${courses}">
  			
    			
        	</tr>
 
        	
     </table>
    
</body>
</html>