<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Courses</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="../css/bootstrap.min.css" th:href="@{../css/bootstrap.min.css}" />
	</head>
<body>
	<div th:object="${courses}" >
    	<h1 th:text="*{name}"></h1><h1 th:text="*{city}"></h1>
		</div>
		

    	
    <table th:each = "game : ${games}" class="table table-striped" style="width:300px">
	
		<tr>
    		<th></th>
		    	<th><a th:href="@{/addhole/{id}(id=${game.course.course_id})}" class="btn btn-primary">Add Hole</a></th>
		    	<th><a th:href="@{/}" class="btn btn-primary">Back</a></th>
			</tr>
			<tr>
				<th></th>
				<th>Par</th>
				<th>Distance</th>
			</tr>
    		<tr th:each = "holes : ${holes}">
    		
    		<th th:text=${holes.name}></th>
    		<td th:text=${holes.par}></td>
    		<td th:text=${holes.distance}></td>
    		
 
        	
     </table>
    
</body>
</html>
