<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Courses</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="../css/bootstrap.min.css" th:href="@{../css/bootstrap.min.css}" />
	</head>
<body>
	<div th:object="${courses}" >
    	<h1 th:text="*{name}"></h1><h1 th:text="*{city}"></h1>
		<p>Description</p>
		<p>Rating</p>
		<p>Address</p>
		
		</div>
		<div th:object="${courses}">
		<a th:href="@{/addhole/{id}(id=${id})}" class="btn btn-primary">Add Hole</a>
		    	<a th:href="@{/}" class="btn btn-primary">Back</a>
		</div>

    	
    <table class="table table-striped" style="width:300px">
    <tr>
				<th></th>
				<th>Par</th>
				<th>Distance</th>
			</tr>
    		<tr  th:each = "holes : ${holes}" >
    		<td th:text=${holes.name}></td>
    		<td th:text=${holes.par}></td>
    		<td th:text=${holes.distance}></td>
    		
 
        	
     </table>
    
</body>
</html>
